aiohappyeyeballs == 2.6.1
aiohttp == 3.11.13
aiosignal == 1.3.2
annotated-types == 0.7.0
async-timeout == 5.0.1
attrs == 25.2.0
blinker @ file:///croot/blinker 1737448712839/work
certifi == 2025.1.31
charset-normalizer == 3.4.1
click @ file:///croot/click 1698129818524/work
Deprecated == 1.2.18
filelock == 3.17.0
Flask @ file:///croot/flask 1737454301388/work
frozenlist == 1.5.0
fsspec == 2025.3.0
future == 1.0.0
idna == 3.10
itsdangerous @ file:///croot/itsdangerous 1716533342745/work
Jinja2 @ file:///croot/jinja2_1741710853181/work
line-bot-sdk == 3.16.2
11vmlite == 0.44.0
MarkupSafe @ file:///croot/markupsafe_1738584053160/work
more-itertools == 10.6.0
mpmath == 1.3.0
multidict == 6.1.0
networkx == 3.4.2
numba == 0.61.0
numpy == 2.1.3
openai-whisper == 20240930
propcache == 0.3.0
pydantic == 2.10.6
pydantic core == 2.27.2
pydub == 0.25.1
python-dateutil == 2.9.0.post0
regex == 2024.11.6
requests == 2.32.3
six == 1.17.0
sympy == 1.13.1
tiktoken == 0.9.0
torch == 2.6.0
tqdm == 4.67.1
typing_extensions == 4.12.2
urllib3 == 2.3.0
Werkzeug @ file:///croot/werkzeug 1737448704449/work
wrapt == 1.17.2
yarl == 1.18.4
